@using CoreDepartmentProject.Core.Utilities.DataResults
@using CoreDepartmentProject.Models.Dtos.Concrete
@using CoreDepartmentProject.Models.Entites.Concrete;
@model (List<Department>, List<CustomerDto>)

<div class="container-fluid" style=" display:flex; flex-direction:column;width:80%;justify-content:center; align-items:center; background-color: transparent;">
    <h1 style="color:white; margin-top:3%; margin-left:15% color:white;"> Departman Listesi </h1>
<table class="table table-hover table-dark table-hover" style="margin-top:2%; text-align:center;  margin-left:10%;">
    <tr>
        <th> Departman Adı </th>
    </tr>
    @foreach (var item in Model.Item1)
    {
        <tr>
            <td>@item.Name</td>

        </tr>
    }
</table>

</div>


<div class="container-fluid" style=" display:flex; flex-direction:column;width:80%;justify-content:center; align-items:center; background-color: transparent;">
    <h1 style="color:white; margin-top:3%; margin-left:5% color:white;"> Personel Listesi </h1>
    <hr />
    <table class="table table-hover table-dark table-hover" style="margin-top:2%; text-align:center; margin-left:10%;">
        <tr>
            <th> Personel Adı </th>
            <th> Personel Soyadı </th>
            <th> Şehir</th>
            <th> Departman Adı </th>
        </tr>

        @foreach (var item in Model.Item2)
        {
            <tr>
                <td> @item.CustomerName </td>
                <td> @item.CustomerLastName </td>
                <td> @item.CustomerCity </td>
                <td> @item.DepartmentName</td>
            </tr>
        }
    </table>

    <p> test </p>

    @* @Html.ActionLink("Yeni Personel Ekle", "Add", "Customer", null, new { @class = "btn btn-primary", @style = "margin-left:5%;" }) *@
</div>



