@using CoreDepartmentProject.Models.Dtos.Concrete;
@model List<CustomerDto>


<div class="container-fluid" style="width:80%;">
    <table class="table table-bordered table-hover" style="margin-top:2%; text-align:center;">
        <tr>
            <th> Personel Adı </th>
            <th> Personel Soyadı </th>
            <th> Şehir</th>
            <th> Departman ID </th>
            <th> İşlemler </th>
            <th> Detay </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.CustomerName </td>
                <td> @item.CustomerLastName </td>
                <td> @item.CustomerCity </td>
                <td> @item.DepartmentName </td>
                <td>
                    @Html.ActionLink("Güncelle", "Update", "Customer", new { @id = item.Id }, new { @class = "btn btn-success", @style = "width : 40%;" })
                    @Html.ActionLink("Sil", "Delete", "Customer", new{@id = item.Id}, new { @class = "btn btn-danger", @style = "width : 40%;" })
                </td>
                <td> @Html.ActionLink("Detaya Git", "GetDetails", "Customer", new { @id = item.Id }, new { @class = "btn btn-warning", @style = "width : 60%;" })</td>
            </tr>
        }
    </table>

    @Html.ActionLink("Yeni Personel Ekle", "Add", "Customer", null, new { @class = "btn btn-primary" })
</div>
